.container {
    height: 300px;
    width: 500px;
    display: flex;
    background: rgba(75,106,232,1);
	background: -moz-linear-gradient(left, rgba(75,106,232,1) 0%, rgba(211,32,227,1) 58%, rgba(227,34,137,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(75,106,232,1)), color-stop(58%, rgba(211,32,227,1)), color-stop(100%, rgba(227,34,137,1)));
	background: -webkit-linear-gradient(left, rgba(75,106,232,1) 0%, rgba(211,32,227,1) 58%, rgba(227,34,137,1) 100%);
	background: -o-linear-gradient(left, rgba(75,106,232,1) 0%, rgba(211,32,227,1) 58%, rgba(227,34,137,1) 100%);
	background: -ms-linear-gradient(left, rgba(75,106,232,1) 0%, rgba(211,32,227,1) 58%, rgba(227,34,137,1) 100%);
	background: linear-gradient(to right, rgba(75,106,232,1) 0%, rgba(211,32,227,1) 58%, rgba(227,34,137,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6ae8', endColorstr='#e32289', GradientType=1 );
}

.button {
	height: 100px;
	width: 200px;
	margin: auto;
	border: 1px solid black;
	display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	transition-duration: 0.4s;
  	cursor: pointer;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	box-shadow: -15px 14px 21px 0px rgba(0,0,0,0.75);
}

.button button {
	font-family: monospace;
	font-size: large;
	color: white;
	margin: auto;
}